project:
  type: website
  output-dir: docs
 

book:
  title: "quarto"
  author: "Norah Jones"
  date: "12/23/2023"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - references.qmd

bibliography: ref/references.bib
csl: ref/apa.csl

format:
  html:
    theme: cosmo
    code-link: true
    toc: true
    toc_float: true
    mbed-resources: true
  pdf:
    documentclass: scrreprt
  docx: default


knitr:
  opts_chunk:
    comment: "#>"

